
#email-head {
	background-color: #c0ebed;
	color: black;
	padding-left: : 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: proxima-nova, sans-serif !important;
}
p {
	position: relative;
	left: 15px;
		font-family: proxima-nova, sans-serif !important;
		font-size: 12px;
	  font-weight:400;
		letter-spacing: 3px;
		color: #231f20;
		line-height: 1.5em;
}
#icons {
	position: relative;
	right: 15px;
}

.fab{
	float:right;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
	line-height: 20px;
}
.fa-instagram {
	font-size: 27px;
}
a { text-decoration: none; color:black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none;}
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
body{
		background-color: white;
		margin: 0;
}
#container {
  background-color:white;
  width: 1100px;
  margin: 0 auto;
}
header {
  text-align: center;
	font-family:proxima-nova, sans-serif !important;
	font-style: normal;
	font-size: 12px;
  font-weight:400;
	letter-spacing: 3px;
	color: #231f20;
	text-transform: uppercase;
	line-height: 1.5em;
}
h1 {
	font-size: 36px;
  font-weight:200;
	letter-spacing: 4px;
	margin-bottom: 10px;
}
header p {
	margin-top: 0px;
	padding-bottom: 10px;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}
nav li {
display: inline;
}
nav li a {
border: 1.5px solid black;
padding:20px;
font-size: 15px;
text-decoration: none;

}
nav li a:link, nav li a:visited {
  background-color: #white;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
nav li a:hover {
  background-color: black;
  color:white;
}
nav li a.active {
  background-color: black;
  color: white;
}

#picture {
  width: 900px;
  padding-top: 20px;
  padding-bottom: 20px;
	display: block;
	margin: 0 auto;
}
#main-left {
	float: left;
	margin-bottom: 10px;
}
#main-right {
	float: right;
	width: 600px;
	height: 544px;
	margin-bottom: 10px;
}
#main-right p {
	font-size: 15px;
	text-align: left;
	left: 35px;
}
#main-right a {
	text-decoration: underline;
}
hr {
	width: 550px;
}
h6 {
	text-align: left;
	font-family:proxima-nova, sans-serif !important;
	font-style: normal;
	font-size: 20px;
  font-weight:400;
	letter-spacing: 3px;
	color: #231f20;
	line-height: 1.5em;
	margin-top: 140px;
	margin-bottom: 15px;
	margin-left: 35px;
}

#aboutpicture {
	width:500px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 50;

}
footer {
	text-align: center;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #231f20; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #c0ebed;
  color: white;
  padding: 12px 20px;
  border: black 1.5px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: black;
}
label {
	font-family: proxima-nova, sans-serif !important;
	font-size: 12px;
	font-weight:400;
	letter-spacing: 3px;
	color: #231f20;
	line-height: 1.5em;
}
#button {
	font-family: proxima-nova, sans-serif !important;
	font-size: 12px;
	font-weight:400;
	letter-spacing: 3px;
}
/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

/* Slideshow stuff */
* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
	padding-top: 20px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
